.secret {
  font-size: xx-large;
  width: 100%;
}

.result {
  font-size: xx-large;
  padding-top: 1em;
}

.twoFactorContainer {
  min-width: 100px;
}

.Buttons {
  display: flex;
  justify-content: space-between;
}

.Disclaimer {
  font-size: 14;
}

.RefreshButton {
  min-width: 100px !important;
}
