.secret {
  font-size: xx-large;
  width: 100%;
}

.result {
  font-size: xx-large;
  padding-top: 1em;
}

.twoFactorContainer {
  min-width: 100px;
}

.refreshButton {
  min-width: 120px !important;
}

.token {
  padding-bottom: 0.5em;
}
